<div class="widgets">

  
  <div class="row">
    <div class="col-md-12">
      <ory-card title="Event" baCardClass="with-scroll table-panel"
               searchShow  = true (search)="search($event)"
               startShow   = true (start)="start($event)" 
               stopShow    = true (stop)="stop($event)" 
               refreshShow = true (refresh)="refresh($event)"
               contentShow = true  (content)="toggleContentShow($event)">
          <div class="horizontal-scroll">
            <table class="table table-condensed">
              <thead>
              <tr class="black-muted-bg">
                <th class="table-id">#</th>
                <th>ID</th>
                <th>RUN</th>
                <th>TS</th>
                <th>EVENT</th>
                <th>USER</th>
                <th>TRIGGER</th>
                <th>PR</th>
                <th>C</th>
                <th>TAB_FUNC_NAME</th>
                <th>TC</th>
                <th>MESSAGE</th>
                <th>S_TIME</th>
                <th>E_TIME</th>
                <th>EXE</th>
                <th>INPUT_PARAS</th>
                <th>OUTPUT_PARAS</th>
                <th>JSON_CONTENT</th>
                <th>POST_CONTENT</th>
                <th>USER_EXIT</th>
                <th>MESSAGE_KEY</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let tdata of tableDatas | filterBy: stringFilter | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageIndex, totalItems: totalCount }">
                 <td class="table-id">
                   <input type="checkbox" name="saved" id="saved" [(ngModel)]="tdata.saved">
                 </td>
                 <td><a routerLink="/pages/tasklog/{{ tdata.id }}" routerLinkActive="active">{{ tdata.id }}</a></td>
                 <td>{{ tdata.run_id }}</td>
                 <td>{{ tdata.task_status }}</td>
                 <td>{{ tdata.event_type }}</td>
                 <td>{{ tdata.user_id }}</td>
                 <td>{{ tdata.trigger_time }}</td>
                 <td>{{ tdata.task_priority }}</td>
                 <td>{{ tdata.CATEGORY }}</td>
                 <td *ngIf="tdata.event_type == 'E0015'">
                   <a routerLink="/pages/sapfield/{{ tdata.TAB_FUNC_NAME }}" routerLinkActive="active">{{ tdata.TAB_FUNC_NAME }}</a>
                 </td>
                 <td *ngIf="tdata.event_type != 'E0015'">
                   {{ tdata.TAB_FUNC_NAME }}
                 </td>
                 <td>{{ tdata.TAB_COUNT }}</td>
                 <td>{{ tdata.MESSAGE }}</td>
                 <td  style="white-space: nowrap;">{{ tdata.start_time  | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                 <td  style="white-space: nowrap;">{{ tdata.end_time  | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                 <td>{{ tdata.execution_time }}</td>
                 <td>{{ tdata.input_paras }}</td>
                 <td>{{ tdata.output_paras }}</td>
                 <td><div *ngIf="contentShowFlag">{{ tdata.JSON_CONTENT }}</div></td>
                 <td><div *ngIf="contentShowFlag">{{ tdata.POST_CONTENT }}</div></td>
                 <td><div *ngIf="contentShowFlag">{{ tdata.user_exit }}</div></td>
                 <td>{{ tdata.message_key }}</td>
              </tr>
              </tbody>
            </table>
          </div>
       </ory-card>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div style="text-align: center;">
        <pagination-controls maxSize="15" (pageChange)="onPageChange($event)" id="server"></pagination-controls>
      </div>
    </div>
  </div>
 
</div>
