<div class="widgets">

  
  <div class="row">
    <div class="col-md-12">
      <ory-card title="Event" baCardClass="with-scroll table-panel" (search)="search($event)" (create)="smModal.show()" (update)="update($event)" (refresh)="refresh($event)">
          <div class="horizontal-scroll">
            <table class="table table-condensed">
              <thead>
              <tr class="black-muted-bg">
                <th>pic</th>
                <th>user_id</th>
                <th>owner</th>
                <th>name</th>
                <th>email</th>
                <th>user_status</th>
                <th>login_status</th>
                <th>login_time</th>
                <th>sap_user</th>
                <th>sap_language</th>
                <th>sap_user_status</th>
                <th>sap_task_id</th>
                <th>sap_task_run_id</th>
                <th>sap_user_validated_time</th>
                <th>device_id</th>
                <th>device_name</th>
                <th>device_os</th>
                <th>created_by</th>
                <th>created_at</th>
                <th>modified_by</th>
                <th>modified_at</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let tdata of tableDatas | filterBy: stringFilter | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageIndex, totalItems: totalCount }">
                 <td>
                   <div class="kameleon-icon" *ngIf="tdata.picURL == null"><img src="assets/img/theme/icon/kameleon/Student-3.svg"  width="40" height="40"></div>
                   <div class="kameleon-icon" *ngIf="tdata.picURL != null"><img src="{{ tdata.picURL }}"  width="40" height="40"></div>       
                 </td>
                 <td>{{ tdata.user_id }}</td>
                 <td>{{ tdata.owner }}</td>
                 <td>{{ tdata.name }}</td>
                 <td>{{ tdata.email }}</td>
                 <td>{{ tdata.user_status }}</td>
                 <td>{{ tdata.login_status }}</td>
                 <td>{{ tdata.login_time | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                 <td>{{ tdata.sap_user }}</td>
                 <td>{{ tdata.sap_language }}</td>
                 <td>{{ tdata.sap_user_status }}</td>
                 <td>{{ tdata.sap_task_id }}</td>
                 <td>{{ tdata.sap_task_run_id }}</td>
                 <td>{{ tdata.sap_user_validated_time | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                 <td>{{ tdata.device_id  }}</td>
                 <td>{{ tdata.device_name }}</td>
                 <td>{{ tdata.device_os }}</td>
                 <td>{{ tdata.created_by }}</td>
                 <td>{{ tdata.created_at | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                 <td>{{ tdata.modified_by }}</td>
                 <td>{{ tdata.modified_at | date:'yyyy-MM-dd HH:mm:ss' }}</td>
              </tr>
              </tbody>
            </table>
          </div>
       </ory-card>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div style="margin:0 auto;">
        <pagination-controls (pageChange)="onPageChange($event)" id="server"></pagination-controls>
      </div>
    </div>
  </div>
 
</div>