<div class="widgets">

  
  <div class="row">
    <div class="col-md-12">
      <ory-card title="Event" baCardClass="with-scroll table-panel"
                searchShow  = true (search)="search($event)" 
                updateShow  = true (update)="update($event)" 
                refreshShow = true (refresh)="refresh($event)">
          <div class="horizontal-scroll">
            <table class="table table-condensed">
              <thead>
              <tr class="black-muted-bg">
                <th class="table-id">#</th>
                <th></th>
                <th>USER</th>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>STATUS</th>
                <th>LS</th>
                <th>LT</th>
                <th>SAP_USER</th>
                <th>LANG</th>
                <th>SAP_S</th>
                <th>CREATED_BY</th>
                <th>CREATED_AT</th>
                <th>MODIFIED_BY</th>
                <th>MODIFIED_AT</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let tdata of tableDatas | filterBy: stringFilter | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageIndex, totalItems: totalCount }" [ngClass]="{'success': tdata.saved}">
                 <td class="table-id">
                    <input type="checkbox" name="saved" id="saved" [(ngModel)]="tdata.saved">
                 </td>
                 <td>
                    <div class="kameleon-icon" *ngIf="tdata.picURL == null"><img src="assets/img/theme/icon/kameleon/Student-3.svg"  width="40" height="40"></div>
                    <div class="kameleon-icon" *ngIf="tdata.picURL != null"><img src="{{ tdata.picURL }}"  width="40" height="40"></div>       
                 </td>
                 <td>{{ tdata.user_id }}</td>
                 <td>{{ tdata.name }}</td>
                 <td>{{ tdata.email }}</td>
                 <td>{{ tdata.user_status }}</td>
                 <td>{{ tdata.login_status }}</td>
                 <td>{{ tdata.login_time | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                 <td>{{ tdata.sap_user }}</td>
                 <td>{{ tdata.sap_language }}</td>
                 <td>{{ tdata.sap_user_status }}</td>
                 <td>{{ tdata.created_by }}</td>
                 <td>{{ tdata.created_at | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                 <td>{{ tdata.modified_by }}</td>
                 <td>{{ tdata.modified_at | date:'yyyy-MM-dd HH:mm:ss' }}</td>
              </tr>
              </tbody>
            </table>
          </div>
       </ory-card>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div style="text-align: center;">
        <pagination-controls maxSize="15" (pageChange)="onPageChange($event)" id="server"></pagination-controls>
      </div>
    </div>
  </div>
 
</div>