<div class="widgets">

  <div class="row">
    <div class="col-md-2">
        
    </div>
    <div class="col-md-10">
        <div style="float: right">
            <button type="button" class="btn btn-info" (click)="sycnJob2Server()">Sync Job</button>
            <button type="button" class="btn btn-info" (click)="refresh($event)">Refresh</button>
        </div>
    </div>
 </div><br>

  <div class="row">
    <div class="col-lg-6 col-md-12">
      <ba-card title="To Agent" baCardClass="with-scroll table-panel">
        <div class="horizontal-scroll">
            <table class="table table-condensed">
              <thead>
              <tr class="black-muted-bg">
                <th class="table-id"></th>
                <th></th>
                <th>STATUS</th>
                <th>COUNT</th>
                <th>ACTION</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let tdata of sycnToClientDatas" [ngClass]="{'success': tdata.saved}">
                 <td class="table-id">
                   
                 </td>
                 <td [ngClass]="{'greenLightbulb':   tdata.task_status == '3',
                                 'redLightbulb':     tdata.task_status == '9',
                                 'greyLightbulb':    tdata.task_status == '8',
                                 'blueLightbulb':    tdata.task_status == '7',
                                 'yellowLightbulb': (tdata.task_status == '0' || tdata.task_status == '1')}">
                   <i class="ion-record"></i>
                 </td>
                 <td>{{ tdata.task_status }}</td>
                 <td><a routerLink="/pages/task/1/{{ tdata.task_status }}/12" routerLinkActive="active">{{ tdata.count }}</a></td>
                 <td *ngIf="checkStatus(tdata.task_status)">
                   <button type="button" class="btn btn-success btn-icon" (click)="startTask(12, tdata.task_status)"><i class="ion-play"></i></button>
                 </td>
                 <td *ngIf="!checkStatus(tdata.task_status)">
                   <button type="button" class="btn btn-danger btn-icon" (click)="stopTask(12, tdata.task_status)"><i class="ion-stop"></i></button>
                 </td>
              </tr>
              </tbody>
            </table>
          </div>
      </ba-card>
    </div>

    <div class="col-lg-6 col-md-12">
      <ba-card title="Bacis Tables" baCardClass="with-scroll table-panel">
        <div class="horizontal-scroll">
            <table class="table table-condensed">
              <thead>
              <tr class="black-muted-bg">
                <th class="table-id"></th>
                <th></th>
                <th>STATUS</th>
                <th>COUNT</th>
                <th>ACTION</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let tdata of bacisTablesDatas" [ngClass]="{'success': tdata.saved}">
                 <td class="table-id">
                   
                 </td>
                 <td [ngClass]="{'greenLightbulb':   tdata.task_status == '3',
                                 'redLightbulb':     tdata.task_status == '9',
                                 'greyLightbulb':    tdata.task_status == '8',
                                 'blueLightbulb':    tdata.task_status == '7',
                                 'yellowLightbulb': (tdata.task_status == '0' || tdata.task_status == '1')}">
                   <i class="ion-record"></i>
                 </td>
                 <td>{{ tdata.task_status }}</td>
                 <td><a routerLink="/pages/task/1/{{ tdata.task_status }}/1" routerLinkActive="active">{{ tdata.count }}</a></td>
                 <td *ngIf="checkStatus(tdata.task_status)">
                   <button type="button" class="btn btn-success btn-icon" (click)="startTask(1, tdata.task_status)"><i class="ion-play"></i></button>
                 </td>
                 <td *ngIf="!checkStatus(tdata.task_status)">
                   <button type="button" class="btn btn-danger btn-icon" (click)="stopTask(1, tdata.task_status)"><i class="ion-stop"></i></button>
                 </td>
              </tr>
              </tbody>
            </table>
          </div>
      </ba-card>
    </div>
  </div>


  
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <ba-card title="All Tables" baCardClass="with-scroll table-panel">
        <div class="horizontal-scroll">
            <table class="table table-condensed">
              <thead>
              <tr class="black-muted-bg">
                <th class="table-id"></th>
                <th></th>
                <th>STATUS</th>
                <th>COUNT</th>
                <th>ACTION</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let tdata of allTablesDatas" [ngClass]="{'success': tdata.saved}">
                 <td class="table-id">
                   
                 </td>
                 <td [ngClass]="{'greenLightbulb':   tdata.task_status == '3',
                                 'redLightbulb':     tdata.task_status == '9',
                                 'greyLightbulb':    tdata.task_status == '8',
                                 'blueLightbulb':    tdata.task_status == '7',
                                 'yellowLightbulb': (tdata.task_status == '0' || tdata.task_status == '1')}">
                   <i class="ion-record"></i>
                 </td>
                 <td>{{ tdata.task_status }}</td>
                 <td><a routerLink="/pages/task/1/{{ tdata.task_status }}/2,5" routerLinkActive="active">{{ tdata.count }}</a></td>
                 <td *ngIf="checkStatus(tdata.task_status)">
                   <button type="button" class="btn btn-success btn-icon" (click)="startTask('2,5', tdata.task_status)"><i class="ion-play"></i></button>
                 </td>
                 <td *ngIf="!checkStatus(tdata.task_status)">
                   <button type="button" class="btn btn-danger btn-icon" (click)="stopTask('2,5', tdata.task_status)"><i class="ion-stop"></i></button>
                 </td>
              </tr>
              </tbody>
            </table>
          </div>
      </ba-card>
    </div>

    <div class="col-lg-6 col-md-12">
      <ba-card title="Delta" baCardClass="with-scroll table-panel">
        <div class="horizontal-scroll">
            <table class="table table-condensed">
              <thead>
              <tr class="black-muted-bg">
                <th class="table-id"></th>
                <th></th>
                <th>STATUS</th>
                <th>COUNT</th>
                <th>ACTION</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let tdata of tablesDeltaDatas" [ngClass]="{'success': tdata.saved}">
                 <td class="table-id">
                   
                 </td>
                 <td [ngClass]="{'greenLightbulb':   tdata.task_status == '3',
                                 'redLightbulb':     tdata.task_status == '9',
                                 'greyLightbulb':    tdata.task_status == '8',
                                 'blueLightbulb':    tdata.task_status == '7',
                                 'yellowLightbulb': (tdata.task_status == '0' || tdata.task_status == '1')}">
                   <i class="ion-record"></i>
                 </td>
                 <td>{{ tdata.SCHEDULED_FLAG }} / {{ tdata.task_status }}</td>
                 <td><a routerLink="/pages/saptable/{{ tdata.SCHEDULED_FLAG }}/{{ tdata.task_status }}/3,7" routerLinkActive="active">{{ tdata.count }}</a></td>
                 <td *ngIf="checkStatus(tdata.task_status, tdata.SCHEDULED_FLAG)">
                   <button type="button" class="btn btn-success btn-icon" (click)="startTask('3,7', tdata.task_status)"><i class="ion-play"></i></button>
                 </td>
                 <td *ngIf="!checkStatus(tdata.task_status, tdata.SCHEDULED_FLAG)">
                   <button type="button" class="btn btn-danger btn-icon" (click)="stopTask('3,7', tdata.task_status)"><i class="ion-stop"></i></button>
                 </td>
              </tr>
              </tbody>
            </table>
          </div>
      </ba-card>
    </div>
  </div>

</div>

