<div baCardBlur class="animated fadeIn card {{cardType}} {{baCardClass || ''}}" zoom-in>
    <div  class="card-header">
        <div class="row">
            <div class="col-md-4">
                <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid"
                        id="search" 
                        name="search" 
                        placeholder="Search for..." 
                        #searchField 
                        (keyup)="search.emit(searchField)">
            </div>
            <div class="col-md-8">
                <div style="float: right">
                    <button type="button" class="btn btn-default" (click)="create.emit($event)">Create</button>
                    <button type="button" class="btn btn-default" (click)="update.emit($event)">Update</button>
                    <button type="button" class="btn btn-default" (click)="refresh.emit(searchField)">Refresh</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <ng-content></ng-content>
    </div>
</div>
